@import 'flowbite';

/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


/* styles.css */
.thick-yellow-underline {
  position: relative;
  display: inline;
}

.thick-yellow-underline::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px; /* Adjust to add space between text and underline */
  width: 100%;
  height: 5px; /* Set thickness */
  background-color: #f8c90c; /* Tailwind yellow-400 color */
}

 .swiper-button-prev.custom-swiper-button {
  width: 40px !important;
  height: 40px !important;
  border-radius: 50% !important;
  background-color: rgba(255, 255, 255, 0.2) !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-button-next.custom-swiper-button {
  width: 40px !important;
  height: 40px !important;
  border-radius: 50% !important;
  background-color: rgba(255, 255, 255, 0.2) !important;
  display: flex;
  align-items: center;
  justify-content: center;
} 






/* body {
    @apply bg-gray-100;
  }
  
  .App {
    @apply flex justify-center items-center min-h-screen;
  } */